RewriteEngine On

RewriteCond %{HTTP_HOST} !^www.katharinawoellner.com$ [NC]
RewriteRule ^(.*)$ https://www.katharinawoellner.com/$1 [L,R=301]

RewriteCond %{SERVER_PORT} !=443
RewriteRule ^(.*)$ https://www.katharinawoellner.com/$1 [R=301,L]
