/* inter-100 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/inter-v18-latin_latin-ext-100.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v18-latin_latin-ext-100.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-100italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/inter-v18-latin_latin-ext-100italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v18-latin_latin-ext-100italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-200 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/inter-v18-latin_latin-ext-200.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v18-latin_latin-ext-200.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-200italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/inter-v18-latin_latin-ext-200italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v18-latin_latin-ext-200italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-300 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/inter-v18-latin_latin-ext-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v18-latin_latin-ext-300.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-300italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/inter-v18-latin_latin-ext-300italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v18-latin_latin-ext-300italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-regular - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v18-latin_latin-ext-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v18-latin_latin-ext-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/inter-v18-latin_latin-ext-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v18-latin_latin-ext-italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-500 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v18-latin_latin-ext-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v18-latin_latin-ext-500.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-500italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/inter-v18-latin_latin-ext-500italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v18-latin_latin-ext-500italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-600 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v18-latin_latin-ext-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v18-latin_latin-ext-600.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-600italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/inter-v18-latin_latin-ext-600italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v18-latin_latin-ext-600italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-700 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v18-latin_latin-ext-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v18-latin_latin-ext-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-700italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/inter-v18-latin_latin-ext-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v18-latin_latin-ext-700italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-800 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/inter-v18-latin_latin-ext-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v18-latin_latin-ext-800.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-800italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/inter-v18-latin_latin-ext-800italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v18-latin_latin-ext-800italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-900 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/inter-v18-latin_latin-ext-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v18-latin_latin-ext-900.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-900italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/inter-v18-latin_latin-ext-900italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v18-latin_latin-ext-900italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

html,
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}

h2 {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h3 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    max-width: 640px;
    font-size: 24px;
    font-weight: 200;
    line-height: 35px;
    text-align: center;
}

@media (min-width: 992px) {
    h3 {
        font-size: 35px;
        font-weight: 200;
        line-height: 45px;
    }
}

h4 {
    margin-left: 0;
    margin-right: 0;
    font-size: 25px;
    line-height: 28px;
    font-weight: 300;
    text-align: left;
}

h5,
.h5 {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 2px;
}

strong {
    font-weight: 500;
}

.btn {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 1px;
}

.btn.btn-primary {
    min-width: 220px;
    border-radius: 30px;
    color: #ffffff;
    border-color: #687e8e;
    background-color: #687e8e;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
    color: #ffffff;
    background-color: #687e8e;
    border-color: #687e8e;
}

.btn.btn-outline-primary {
    min-width: 220px;
    border-radius: 30px;
    color: #000000;
    border-color: #000000;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.btn.btn-outline-primary:hover,
.btn.btn-outline-primary:focus,
.btn.btn-outline-primary:active {
    color: #ffffff;
    background-color: #687e8e;
    border-color: #687e8e;
}

.btn.btn-outline-secondary {
    min-width: 220px;
    border-radius: 30px;
    color: #ffffff;
    border-color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;

}

.btn.btn-outline-secondary:hover,
.btn.btn-outline-secondary:focus,
.btn.btn-outline-secondary:active {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
}

.link-primary {
    font-size: 13px;
    line-height: 24px;
    color: #000000 !important;
    text-decoration: none;
    letter-spacing: 2px;
}

.link-primary:hover,
.link-primary:active {
    color: #000000 !important;
    text-decoration: none;
}

.link-underline-secondary {
    position: relative;
    color: #000000;
    text-decoration: none;
    border-bottom: none;
}

.link-underline-secondary::after {
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #000000;
    transition: width 0.4s ease;
    content: '';
}

.link-underline-secondary:hover::after {
    width: 0;
    right: 0;
    transition: width 0.4s ease;
}

.link-previous img {
    margin-top: -2px;
}

.link-previous span {
    display: none;
}

@media (min-width: 992px) {
    .link-previous span {
        display: inline;
    }
}

.link-previous:hover img {
    margin-right: 1.5rem !important;
    transition: 0.5s margin-right ease;
}

.link-next img {
    margin-top: -2px;
}

.link-next:hover img {
    margin-left: 1.5rem !important;
    transition: 0.5s margin-left ease;
}

.link-next span {
    display: none;
}

@media (min-width: 992px) {
    .link-next span {
        display: inline;
    }
}

/* Navigation */
nav.navbar {
    margin-bottom: 0;
    padding: 0;
    border: 0;
}

nav.navbar .navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav {
    margin-top: 0;
}

.navbar-nav .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    color: #eeeeee !important;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
    color: #ffffff !important;
}

.navbar-nav .btn {
    width: 250px;
}

.navbar-light .navbar-toggler {
    position: fixed;
    top: 20px;
    border: none;
    z-index: 2000;
}

.navbar-light .navbar-toggler:focus {
    box-shadow: none;
}

.navbar-light .navbar-toggler span:nth-child(1) {
    display: none;
    color: #000000;
}

.navbar-light .navbar-toggler span:nth-child(2) {
    display: none;
    color: #ffffff;
}

.navbar-light .navbar-toggler > label {
    display: inline;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-light .navbar-toggler.collapsed {
    position: relative;
    top: 0;
}

.navbar-light .navbar-toggler.collapsed span:nth-child(1) {
    display: none;
}

@media (min-width: 576px) {
    .navbar-nav .nav-link {
        font-size: 30px;
        line-height: 50px;
    }

    .navbar-light .navbar-toggler.collapsed span:nth-child(1) {
        display: inline;
    }

    .navbar-light .navbar-toggler span:nth-child(2) {
        display: inline;
    }
}

.navbar-light .navbar-toggler.collapsed span:nth-child(2) {
    display: none;
}

#hamburger {
    display: none;
}

#hamburger + label {
    position: relative;
    width: 40px;
    height: 23px;
    display: inline-block;
    cursor: pointer;
    margin: 10px 0;
    transition: all .5s;
    text-align: left;
}

#hamburger + label span,
#hamburger + label span:before,
#hamburger + label span:after {
    display: block;
    background: #ffffff;
    position: absolute;
    height: 1px;
    width: 40px;
    border-radius: 1px;
    transition: all .5s;
}

.navbar-toggler {
    padding-right: 0;
}

.navbar-toggler.collapsed #hamburger + label span {
    background: #000000;
}

#hamburger + label span:first-child {
    top: 0;
}

#hamburger + label span:nth-child(2) {
    top: 10px;
    width: 40px
}

#hamburger + label span:nth-child(3) {
    top: 20px;
}

#hamburger + label span {
    transition: top .15s .17s, transform .12s .033s;
}

#hamburger + label span:nth-child(3) {
    transition: top .15s .17s, transform .17s;
}

button:not(.collapsed) #hamburger + label span {
    top: 10px;
    width: 40px;
    transform: rotate(135deg);
    transition: top .1s, transform .12s .1s;
}

button:not(.collapsed) #hamburger + label span:nth-child(3) {
    transform: rotate(225deg);
    transition: top .1s, transform .17s .1s;
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

nav.navbar .navbar-brand img {
    float: left;
    margin-right: 20px;
    height: 40px;
}

nav.navbar .navbar-brand span {
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}

.navbar-nav .nav-link:nth-child(5) {
    padding-right: 0;
}

.navbar-collapse .navbar-nav {
    margin-top: 0;
    margin-bottom: 30px;
}

.navbar-nav .nav-link {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    text-align: center;
}

.navbar .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center !important;
    background: #687e8e;
    opacity: 0;
    transition: opacity 0.35s ease;
}

.navbar .navbar-collapse.collapse {
    display: flex;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
}

.navbar .navbar-collapse.collapsing[style*="height"] {
    height: 100vh !important;
    opacity: 1;
}

.navbar .navbar-collapse.collapsing {
    height: 100vh;
    opacity: 0;
}

.navbar .navbar-collapse.collapse.show {
    opacity: 1;
    pointer-events: auto;
}

.navbar .navbar-collapse .navbar-nav {
    margin-top: 60px;
    margin-right: initial !important;
    margin-bottom: auto
}

@media (min-width: 576px) {
    .navbar .navbar-collapse .navbar-nav {
        margin-top: 100px;
    }
}

.navbar .navbar-collapse .navbar-brand {
    position: absolute;
    left: 20px;
}

.navbar .navbar-collapse .navbar-close {
    position: absolute;
    top: 35px;
    right: 35px;
    font-size: 13px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.navbar .navbar-collapse .btn-close {
    background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-16%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Ebene_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2020%2020%22%20style%3D%22enable-background%3Anew%200%200%2020%2020%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.st0%7Bfill%3Anone%3Bstroke%3A%23FFFFFF%3Bstroke-width%3A2%3Bstroke-linecap%3Around%3B%7D%3C%2Fstyle%3E%3Cline%20id%3D%22Linie_19%22%20class%3D%22st0%22%20x1%3D%2217.1%22%20y1%3D%222.9%22%20x2%3D%223%22%20y2%3D%2217%22%2F%3E%3Cline%20id%3D%22Linie_20%22%20class%3D%22st0%22%20x1%3D%223%22%20y1%3D%222.9%22%20x2%3D%2217.1%22%20y2%3D%2217%22%2F%3E%3C%2Fsvg%3E%0A');
    background-size: 20px 20px;
    vertical-align: middle;
}

.navbar .navbar-collapse .navbar-nav .nav-link {
    color: #ffffff !important;
}

.navbar .navbar-collapse .navbar-nav .nav-link:hover,
.navbar .navbar-collapse .navbar-nav .nav-link:active {
    color: #cccccc !important;
}

@media (max-width: 991.98px) {
    .navbar-nav {
        margin-left: initial !important;
    }
}

/* Sections */
#header .navbar {
    position: relative;
}

@media (min-width: 992px) {
    #header nav:not(.position-relative) {
        position: absolute !important;
    }
}

#welcome .fs-1 {
    font-size: 24px !important;
    font-weight: 200;
    line-height: 35px;
}

@media (min-width: 992px) {
    #welcome .fs-1 {
        font-size: 45px !important;
        font-weight: 200;
        line-height: 65px;
    }
}

#vorteile h4 {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

#vorteile .img-hover {
    position: relative;
    display: block;
}

#vorteile .img-hover img {
    display: block;
}

#vorteile .img-hover img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#vorteile .img-hover img:nth-child(2):hover,
#vorteile .img-hover.hover img:nth-child(2) {
    opacity: 1;
}

#vorteile ul {
    padding-left: 1rem;
    list-style: none;
}

#vorteile ul > li {
    position: relative;
    font-style: italic;
}

#vorteile ul > li:before {
    position: absolute;
    top: 6px;
    left: -16px;
    width: 16px;
    height: 16px;
    background: url('../images/icon-checkmark.svg') no-repeat;
    background-size: 16px 16px;
    content: '';
}

#vorteile .col-lg-6 p,
#vorteile .col-lg-6 ul > li {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;

}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #vorteile .col-lg-6 p,
    #vorteile .col-lg-6 ul > li {
        font-size: 16px;
        line-height: 26px;
        hyphens: auto;
    }
}

#vorteile li {
    padding-left: 0.5rem;
}

#vorteile a[role="button"] {
    display: block;
    text-align: center;
}

#vorteile a[role="button"]:after {
    display: inline-block;
    flex-shrink: 0;
    margin-left: auto;
    width: 1.25rem;
    height: 1.25rem;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21"><path fill="none" d="M10.5,0.5c5.5,0,10,4.5,10,10s-4.5,10-10,10s-10-4.5-10-10S5,0.5,10.5,0.5z"/><path d="M14.3,10.3c0-0.4-0.3-0.7-0.7-0.7h-2.3V7.3c0-0.4-0.3-0.8-0.8-0.8s-0.8,0.3-0.8,0.8v2.2H7.5c-0.4,0-0.8,0.3-0.8,0.8s0.3,0.8,0.8,0.8h2.2v2.2c0,0.4,0.3,0.8,0.8,0.8s0.8-0.3,0.8-0.8V11h2.3c0.4,0,0.7-0.3,0.8-0.7"/><path fill="%231D1D1B" d="M10.5,1.5c5,0,9,4,9,9s-4,9-9,9s-9-4-9-9S5.5,1.5,10.5,1.5 M10.5,0.5c-5.5,0-10,4.5-10,10s4.5,10,10,10s10-4.5,10-10S16,0.5,10.5,0.5z"/></svg>');
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
    content: " ";
}

#vorteile a[role="button"][aria-expanded="true"]:after {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21"><path fill="none" d="M10.5,0.5c5.5,0,10,4.5,10,10s-4.5,10-10,10s-10-4.5-10-10S5,0.5,10.5,0.5z"/><path d="M14.3,10.3c0-0.4-0.3-0.7-0.7-0.7h-6c-0.4,0-0.8,0.3-0.8,0.8S7.1,11,7.5,11h6C13.9,11,14.2,10.7,14.3,10.3"/><path fill="%231D1D1B" d="M10.5,1.5c5,0,9,4,9,9s-4,9-9,9s-9-4-9-9S5.5,1.5,10.5,1.5 M10.5,0.5c-5.5,0-10,4.5-10,10s4.5,10,10,10 s10-4.5,10-10S16,0.5,10.5,0.5L10.5,0.5z"/></svg>');
    transform: rotate(-180deg);
}

#referenzen .col-md-6 a {
    cursor: pointer;
    display: block;
    overflow: hidden;
}

#referenzen div.overlay {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(104, 126, 142, 0.5);
    color: white;
    text-align: center;
}

#referenzen .col-md-6:hover div.overlay {
    display: flex;
}

#referenzen .col-md-6 div.overlay a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#referenzen .col-md-6:hover img {
    animation: move 4s ease infinite;
    transform-origin: center center;
}

@-webkit-keyframes move {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

#testimonials {
    background-color: rgba(189, 200, 208, 0.2);
}

#testimonials .card-body p {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    hyphens: auto;
}

@media (min-width: 992px) {
    #testimonials .card-body p {
       hyphens: unset;
    }
}

#testimonials .card-body p.text-center {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

#testimonials .card-body img {
    position: absolute;
    margin-left: -40px;
    left: 50%;
    top: -40px;
}

#testimonials .carousel {
    touch-action: pan-y;
}

#testimonials .carousel-indicators {
    bottom: -10px;
}

#testimonials .carousel-indicators [data-bs-target] {
    margin-right: 4px;
    margin-left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    opacity: 1;
}

#testimonials .carousel-indicators [data-bs-target].active {
    border: 1px solid #687e8e;
    background-color: #687e8e;
}

#testimonials .carousel-control-prev-icon,
#testimonials .carousel-control-next-icon {
    display: none;
}

#leistungen .fs-5 {
    font-size: 20px !important;
    font-weight: 300;
    line-height: 35px;
}

@media (min-width: 992px) {
    #leistungen .fs-5 {
        font-size: 18px !important;
        line-height: 30px;
    }
}

#leistungen a[role="button"] {
    display: block;
    text-align: center;
}

#leistungen a[role="button"]:after {
    display: inline-block;
    flex-shrink: 0;
    margin-left: auto;
    width: 1.25rem;
    height: 1.25rem;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21"><path fill="none" d="M10.5,0.5c5.5,0,10,4.5,10,10s-4.5,10-10,10s-10-4.5-10-10S5,0.5,10.5,0.5z"/><path d="M14.3,10.3c0-0.4-0.3-0.7-0.7-0.7h-2.3V7.3c0-0.4-0.3-0.8-0.8-0.8s-0.8,0.3-0.8,0.8v2.2H7.5c-0.4,0-0.8,0.3-0.8,0.8s0.3,0.8,0.8,0.8h2.2v2.2c0,0.4,0.3,0.8,0.8,0.8s0.8-0.3,0.8-0.8V11h2.3c0.4,0,0.7-0.3,0.8-0.7"/><path fill="%231D1D1B" d="M10.5,1.5c5,0,9,4,9,9s-4,9-9,9s-9-4-9-9S5.5,1.5,10.5,1.5 M10.5,0.5c-5.5,0-10,4.5-10,10s4.5,10,10,10s10-4.5,10-10S16,0.5,10.5,0.5z"/></svg>');
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
    content: " ";
}

#leistungen a[role="button"][aria-expanded="true"]:after {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21"><path fill="none" d="M10.5,0.5c5.5,0,10,4.5,10,10s-4.5,10-10,10s-10-4.5-10-10S5,0.5,10.5,0.5z"/><path d="M14.3,10.3c0-0.4-0.3-0.7-0.7-0.7h-6c-0.4,0-0.8,0.3-0.8,0.8S7.1,11,7.5,11h6C13.9,11,14.2,10.7,14.3,10.3"/><path fill="%231D1D1B" d="M10.5,1.5c5,0,9,4,9,9s-4,9-9,9s-9-4-9-9S5.5,1.5,10.5,1.5 M10.5,0.5c-5.5,0-10,4.5-10,10s4.5,10,10,10 s10-4.5,10-10S16,0.5,10.5,0.5L10.5,0.5z"/></svg>');
    transform: rotate(-180deg);
}

#leistungen ul {
    hyphens: auto;
}

@media (min-width: 992px) {
    #leistungen ul {
        list-style: disc;
    }
}

#leistungen li::marker {
    color: #687e8e;
}

#prozess {
    color: #ffffff;
    background-color: rgba(189, 200, 208, 0.2);
}

#prozess .accordion-item  {
    --bs-accordion-btn-padding-x: 0;
    --bs-accordion-btn-padding-y: 1.5rem;
    --bs-accordion-body-padding-x: 0;
    --bs-accordion-color: #000000;
    --bs-accordion-bg: transparent;
    --bs-accordion-active-color: #000000;
    --bs-accordion-active-bg: transparent;
    --bs-accordion-btn-color: #000000;
    --bs-accordion-btn-bg: transparent;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-border-color: #000000;
    --bs-accordion-btn-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21"><path fill="none" d="M10.5,0.5c5.5,0,10,4.5,10,10s-4.5,10-10,10s-10-4.5-10-10S5,0.5,10.5,0.5z"/><path d="M14.3,10.3c0-0.4-0.3-0.7-0.7-0.7h-2.3V7.3c0-0.4-0.3-0.8-0.8-0.8s-0.8,0.3-0.8,0.8v2.2H7.5c-0.4,0-0.8,0.3-0.8,0.8s0.3,0.8,0.8,0.8h2.2v2.2c0,0.4,0.3,0.8,0.8,0.8s0.8-0.3,0.8-0.8V11h2.3c0.4,0,0.7-0.3,0.8-0.7"/><path fill="%231D1D1B" d="M10.5,1.5c5,0,9,4,9,9s-4,9-9,9s-9-4-9-9S5.5,1.5,10.5,1.5 M10.5,0.5c-5.5,0-10,4.5-10,10s4.5,10,10,10s10-4.5,10-10S16,0.5,10.5,0.5z"/></svg>');
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21"><path fill="none" d="M10.5,0.5c5.5,0,10,4.5,10,10s-4.5,10-10,10s-10-4.5-10-10S5,0.5,10.5,0.5z"/><path d="M14.3,10.3c0-0.4-0.3-0.7-0.7-0.7h-6c-0.4,0-0.8,0.3-0.8,0.8S7.1,11,7.5,11h6C13.9,11,14.2,10.7,14.3,10.3"/><path fill="%231D1D1B" d="M10.5,1.5c5,0,9,4,9,9s-4,9-9,9s-9-4-9-9S5.5,1.5,10.5,1.5 M10.5,0.5c-5.5,0-10,4.5-10,10s4.5,10,10,10 s10-4.5,10-10S16,0.5,10.5,0.5L10.5,0.5z"/></svg>');
}

#prozess .accordion-item:first-of-type {
    border-top: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}

#prozess .accordion-item:last-child {
    border-bottom: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}

#prozess .accordion-button {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

#prozess .accordion-body {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    hyphens: auto;
}

@media (min-width: 992px) {
    #prozess .accordion-body {
        hyphens: unset;
    }
}

#referenz .g-4 {
    --bs-gutter-y: 30px;
    --bs-gutter-x: 30px;
}

#referenz p {
    font-size: 18px;
    line-height: 30px;
}

#referenz p.mb-30 {
    margin-bottom: 30px;
}

#kontakt {
    color: #ffffff;
    background-color: #687e8e;
}

#kontakt .fs-3 {
    font-size: 24px !important;
    font-weight: 300;
    line-height: 35px;
}

@media (min-width: 992px) {
    #kontakt .fs-3 {
        font-size: 30px !important;
        line-height: 40px;
    }
}

footer {
    height: 60px;
}

footer p {
    font-size: 13px;
    font-weight: 500;
    line-height: 60px;
}

footer p.text-uppercase {
    letter-spacing: 1px;
}

footer a {
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    text-decoration: none;
}